<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

    <header>
        <h1>Zahid Hasan</h1>
        <p>Software Developer | Programmer | Designer</p>
    </header>

    <section>
        <h2>About Me</h2>
        <p>Hello! I'm a passionate web developer with experience in building websites using HTML, CSS, and
            JavaScript. Also build web and mobile application using ASP.NET Core and Angular. I enjoy turning ideas into
            interactive web experiences.</p>
    </section>

    <section>
        <h2>Job Experiences</h2>
        <h4>TechStdio Limited</h4>
        <address>
            KA 145/239 Emran Tower(Ground Floor)
            <br>
            Noyanagor, Khilkhet,Dhaka-1229
        </address>
        <p>Position Held: Intern, Software Development</p>
        <p>Duration: February, 2025 - Present</p>
        <h5>Duties and Responsibilities</h5>
        <ul>
            <!-- <li> {{duty}} </li> -->
            <li>Learning and understanding the companys development processes, tools and technologies.</li>
            <li>Assisting senior developers with coding, debugging, and other software-related tasks.</li>
            <li>Writing simple, clean, and maintainable code as directed by more experienced team members.</li>
            <li>Working on smaller tasks or projects to contribute to the development of applications.</li>
            <li>Taking part in version control activities (e.g., using Git) to track and manage code.</li>
            <li>Asking questions and seeking guidance from senior developers and mentors.</li>
            <li>Exploring new frameworks, languages, or software development methodologies.</li>
        </ul>

        <br>
        <h4>Pioneer Denim Limited</h4>
        <address>
            Haritola, Madhabpur, habiganj
            <br>
            Habiganj, Sylhet
        </address>
        <p>Position Held: Officer (IT)</p>
        <p>Duration: January, 2023 - December, 2023</p>
        <h5>Duties and Responsibilities</h5>
        <ul>
            <li>Network Configure: Configure upstream and downstream networks and maintain the whole network system.</li>
            <li>Camera Configuration: Install, configure and maintain CCTV camera and cover full facility under surveillance.</li>
            <li>Network Monitoring: Build a monitoring system by using MikroTik Dude.</li>
            <li>Security System: Monitor and maintain in-punch and outpunch using Fingertec machine.</li>
            <li>Machine Connection: Implement many networks into loom machines and Laser machines.</li>
            <li>Bandwidth control: Manage clients bandwidth according to their requirements.</li>
        </ul>

        <br>
        <h4>Access Telecom Limited</h4>
        <address>
            Suite# 803 & 901, Concord Tower
            <br>
            113 Kazi Nazrul Islam Avenue, Dhaka-1000
        </address>
        <p>Position Held: Executive, Infrastructure and Access Network</p>
        <p>Duration: January, 2022 - December, 2022</p>
        <h5>Duties and Responsibilities</h5>
        <ul>
            <!-- <li> {{Duty.duty}} </li> -->
            <li>Network Configure: Configuration WAN, LAN part in client end devices, Software installation.</li>
            <li>Network Monitoring: MikroTik Dude, Observium, PRTG, MRTG tools.</li>
            <li>Network Planning: Ring topology, Mesh Topology, Tree topology used in different scenarios for some practical tasks.</li>
            <li>Client end Support: Visit client end for physical support when it is necessary according to their problem.</li>
            <li>Networking: MikroTik router, Cisco Switch, BDCOM OLT, VSOL OLT.</li>
            <li>Routing: OSPF, BGP, RIP protocols are familiar and work with.</li>
            <li>Security: Firewalls like - Layer7 protocol, VLAN, and some antiviruses like Kaspersky, Norton.</li>
        </ul>

        <br>
        <h4>Aftab IT Limited</h4>
        <address>
            Eastern Trade Center (14th Floor)
            <br>
            56 Purana Paltan Line, Dhaka-1000
        </address>
        <p>Position Held: Asst. Network Transmission Engineer</p>
        <p>Duration: December, 2019 - December, 2021</p>
        <h5>Duties and Responsibilities</h5>
        <ul>
            <li>Planning & Management: Network Topology Design, T-Shoot, Network Analysis, Renovation existing Network, Devices health check, User Management, Security deployment, IP Management.</li>
            <li>Networking Devices: Cisco Router & Switch, Mikrotik Router Board & PC Based OS, different brand OLT & ONU, TP-Link.</li>
            <li>WAN: Static IP, DHCP IP, PPPoE, Wireless WAN Receive, Hotspot.</li>
            <li>LAN: Static IP, DHCP Server, PPPoE Server, Hotspot Server.</li>
            <li>Routing Part: Stating route, Default route, Dynamic Route (Link state & Distance Vector): RIP, RIPv2, ISIS, OSPF.</li>
            <li>IPv6: Best Practice, Subnetting, Configure Router & Switch, Unix based Server.</li>
            <li>Firewall Part: NAT, Website Filtering, Local LAN Filtering, Layer-7 Protocol.</li>
            <li>Bandwidth Control: Simple Queues Management, PCQ, GGC, Facebook, Scheduling Queues Management.</li>
        </ul>
    </section>
<hr>
    <section>
        <h2>Skills</h2>
        <ul>
            <li>HTML5 & CSS3</li>
            <li>JavaScript / TypeScript</li>
            <li>Angular 17 (Node 20)/ Frontend</li>
            <li>ASP.NET Core</li>
            <li>SQL / Databases</li>
        </ul>
    </section>

    <section>
        <h2>Projects</h2>
        <div class="project">
            <h3>Employee Management System</h3>
            <p>A web-based Employee management system built with pure HTML, CSS, JavaScript, ASP.NET Core and Angular
                for gain more experiences and skill development.</p> <!--todo list -->
        </div>
        <div class="project">
            <h3>Portfolio</h3>
            <p>Portfolio website with Angular 17 and ASP.NET Core backend for managing content dynamically.</p>
        </div>
    </section>

    <section>
        <h2>Academic Qualifications</h2>
        <table>
            <thead>
            <tr>
                <th>Certificate</th>
                <th>Subject</th>
                <th>Institute</th>
                <th>Result</th>
                <th>Passing Year</th>
                <th>Board</th>
            </tr>
            </thead>
            <tbody>
                @for(item of qualifications; track $index;){
                <tr>
                    <td> {{item.certificate}} </td>
                    <td> {{item.subject}} </td>
                    <td> {{item.institute}} </td>
                    <td> {{item.result}} </td>
                    <td> {{item.passingYear}} </td>
                    <td> {{item.board}} </td>
                </tr>
            }
            </tbody>
        </table>
    </section>

    <section>
        <h2>Contact</h2>
        <p>Mobile: +8801757972553 </p>
        <p>Email: zahidhasan01111995&#64;gmail.com</p>
        <p>GitHub: <a href="https://github.com/itzironman" target="_blank">github.com/itzironman</a></p>
        <p>LinkedIn: <a href="https://www.linkedin.com/in/zahid-hasan-rajib-a09209143/"
                target="_blank">linkedin.com/in/zahid-hasan-rajib-a09209143/</a></p>
    </section>

    <div *ngFor="let e of exp" class="experience-card">
        <h3>{{ e.companyName }}</h3>
        <p>{{ e.address }}</p>
        <p><strong>Position Held:</strong> {{ e.designation }}</p>
        <p><strong>Duration:</strong> {{ e.duration }}</p>
    
        <p><strong>Duties and Responsibilities:</strong></p>
        <ul>
            <li *ngFor="let duty of e.duties">{{ duty }}</li>
        </ul>
    </div>


    <!-- <footer>
        &copy; 2025 Zahid Hasan. All rights reserved.
    </footer> -->

</body>

</html>